@include widget("BlogArchive"){
    .widget-content{
        ul.flat{
            width: 100%;
            li{
                padding: 1rem .5rem;
                border-bottom: 1px solid #444;
                
                &::marker{
                    content: attr(data-icon);
                    font-weight: bold;
                }
            }
        }
    }
}